*{
  margin: 0;
}

.corpoInicio {
  background-color: transparent ;
  width: 100%;
  padding-top: 60px;
  text-align: center;
}


.dados{
  height: calc(100vh - 100px);
  width:100%;
  background-color: #4DA8DA;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: url('../../images/foto-1-getty-images.png') no-repeat center/110% fixed;
}

.dados h1{
  font-size: 130px;
  background-color: #fff;
  width: 1000px; 
  border-radius: 10px 10px 0 0;
  text-align: center;
  margin: auto;
  margin-bottom: 0;
}

.dados h2{
  margin-bottom: 150px;
  font-size: 40px;
  width: 1000px;
  background-color: #fff;
  height: 60px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  margin: auto;
  margin-top: 0;
}


.estats{
  height:700px;
  width:100%;
  background-color: #4DA8DA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grafico{
  width: 500px;
  height: 500px;
  margin: auto;
  margin-right: 60px;
  margin-top: 60px;
  background-color: #000 ;
  display: flex;
  flex: 1;
}

.textStats{
  width: 650px;
  height: 300px;
  margin-top: 60px;
  margin-left: 20px; 
  color: #fff; 
}

.textStats h2 {
  font-size: 50px;
}

.textStats p {
  font-size: 25px;
}
