

*{
  margin: 0;
  background-color: #fff;
}

.corpoInicio {
  background-color: transparent ;
  width: 100%;
  padding-top: 60px;
  text-align: center;
}


.title{
  height:700px;
  width:100%;
  background-color: #bad6c2;
  border: 1px solid #000;
  margin: 0;
  background: url("../../images/foto-1-getty-images.png") no-repeat center/110% fixed;
  opacity: 70%;
}

.dados{
  height:700px;
  width:100%;
  background-color: #bad6c2;
  border: 1px solid #000;
  margin: 0;
}


.estats{
  height:700px;
  width:100%;
  background-color: #bad6c2;
  border: 1px solid #000;
  margin: 0;
}

span {
  background-color: transparent;
  margin-top: 200px;
}

.texto{
  margin-top: 200px;
}