


.informacoes{
  background-color: #203647;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
}

.formulario{
  display: flex;
  flex-wrap: wrap;
  flex: 6;
  font-size: 1.125rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;  
}

.formulario label{
  margin: auto;
  margin-left: 1.875rem;
  height: 100px;
  width: 25rem;
}


.formulario input{
  margin: auto;
  height: 40px;
  width: 25rem;
  border-radius: 5px;
  border: none;
  text-decoration: none; 
  outline: none; 
  font-size: 20px;
}

#sexo {
  margin: auto;
  margin-left: 1.875rem;
  height: 100px;
  width: 25rem;
  display: flex;
  flex-direction: column;
}

#lbl_sex{
  margin-top: 10px;
}

#sex{
  margin-top: 10px;
  margin: 0;
}


#cadastrar {
  margin: auto;
  text-align: center;
}


#cadastrar button{
  width: 400px;
  height: 60px;
  font-size: 29px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: #6a82f7;
  cursor: pointer;
  color: #fff;
}
