


.infos{
  background-color: #F0F5F5;
  width: 75rem;
  height: 37rem;
  margin:  auto;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
}

.dados {
  background-color: transparent;
  flex: 1;
  height: 35rem;
  margin-top: 20px;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inf {
  width: 250px;
  height: 100px;
  margin: 15px;
  text-align: center;
  background-color: transparent;
}

.inf input {
  height: 30px; 
  width: 200px;
  background-color: #fff;
  justify-content: center;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  text-decoration: none;
  border: none;
}


.inf p{
  background-color: transparent;
  width: 200px;
  margin-left: 25px;
  text-align: left;
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}