.CorpoDados{
  width: 100%;
  height: calc(100vh - 3.75rem);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.barraBusca{
  width: 100%;
  max-width: 1920px;
  height: 3.125rem;
  flex: 1;
}

.data{
  width: 100%;
  height: 3.125rem;
  margin-right: 50px ;
}

nav {
  margin-left: auto;
}

.busca{
  list-style: none;
  display: flex;
  color: #000;
}

.busca li {
  margin: 0 10px;
  line-height: 60px;
  font-size: 15px;
  font-weight: bold;
}

.busca a{
  text-decoration: none;
  color:#000;
  cursor: pointer;
}

.busca a:hover {
  border-bottom: 2px solid #000;  
}
/* fim barra de busca */


.listas {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  flex: 1;
  display: flex;
}


.listaCasos{
    flex: 1;
    height: 470px;
}

.casosGrafico{
  flex: 1;
  background-color: #00f;
}