*{
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.topInv{
  background-color: #12232E;
  width: 100%;
  height: 3.75rem;
  position: fixed;
}

.Top {
  display: flex;
  width: 100%;
  height: 3.75rem;
  box-shadow: 0px 3px 6px #00000033;
  position: fixed;
}

.Title {
  text-align: center;
  font-weight: bold;
  float: left;
  line-height: 60px;
  font-size: 20px;
  padding-left: 10px;
  color: #EEFBFB;
}


nav {
  margin-left: auto;
}


.Menu {
  margin-left: auto;
  list-style: none;
  display: flex;
}

li {
  margin: 0 40px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
}

a{
  text-decoration: none;
  color:#EEFBFB;
}

a:hover {
  border-bottom: 3px solid #EEFBFB;  
}